.text-dark-gray {
  color: #4A4A4A;
}

@font-face {
  font-family: "roboto-bold";
  src: url(/fonts/Roboto-Bold.woff2?f7882557be8c578102a892891a843ba0) format("woff2"), url(/fonts/Roboto-Bold.woff?98aa057994f1e9d63c6d65b6c926e5e5) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "roboto-medium";
  src: url(/fonts/Roboto-Medium.woff2?7e7f47a05f2f51ab4b1086185e9c747a) format("woff2"), url(/fonts/Roboto-Medium.woff?7feb6a8a5277096213c9c7f2e8912d59) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "roboto-regular";
  src: url(/fonts/Roboto-Regular.woff2?c0cb9231d0649f2dda95c1dc4ecbde6b) format("woff2"), url(/fonts/Roboto-Regular.woff?657b9fb127fca0242620984d841a9f5d) format("woff");
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "roboto-bold", sans-serif;
}

.roboto-medium {
  font-family: "roboto-medium", sans-serif;
}

.roboto-regular {
  font-family: "roboto-regular", sans-serif;
}

h1 {
  font-family: "roboto-bold", sans-serif;
  font-size: 80px;
}

h2 {
  font-family: "roboto-bold", sans-serif;
  font-size: 60px;
}

h3 {
  font-family: "roboto-bold", sans-serif;
  font-size: 42px;
}

h4 {
  font-family: "roboto-medium", sans-serif;
  font-size: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h5 {
  font-family: "roboto-bold", sans-serif;
  font-size: 20px;
}

h6 {
  font-family: "roboto-medium", sans-serif;
  font-size: 18px;
}

p {
  font-family: "roboto-regular", sans-serif;
  font-size: 16px;
}

p.small {
  font-size: 14px;
}

* {
  font-family: "roboto-regular", sans-serif;
}

#shopify-section-announcement-bar p.announcement-bar__message {
  font-family: "roboto-bold", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

@media (min-width: 990px) {
  #shopify-section-announcement-bar p.announcement-bar__message {
    font-size: 14px;
    padding: 1.6rem 2rem;
  }
}

.header.page-width {
  padding: 1rem 2.5rem;
}

@media (min-width: 750px) {
  .header.page-width {
    padding: 2rem 5rem;
  }
}

@media (min-width: 990px) {
  .header.page-width {
    padding: 4rem 5rem;
  }
}

@media (min-width: 990px) {
  .header--middle-left .header__inline-menu {
    margin-left: 65px;
  }
}

@media (min-width: 1200px) {
  .header--middle-left .header__inline-menu {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1300px) {
  .header--middle-left .header__inline-menu {
    margin-left: 65px;
  }
}

@media (min-width: 990px) {
  .header__heading-link {
    padding: 0 0.75rem 1.5rem;
  }
}

.header__heading-logo {
  width: 119px;
}

@media (min-width: 750px) {
  .header__heading-logo {
    width: 140px;
  }
}

@media (min-width: 990px) {
  .header__heading-logo {
    min-width: 119px;
    width: 100%;
  }
}

.header__inline-menu .list-menu--inline .list-menu__item {
  margin-right: 20px;
}

.header__inline-menu .list-menu--inline .list-menu__item span {
  color: #4A4A4A;
  font-family: "roboto-bold", sans-serif !important;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
}

.header__inline-menu .list-menu--inline .list-menu__item span:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  background: #4A4A4A;
  transition: width 0.3s ease-in-out;
}

.header__inline-menu .list-menu--inline .list-menu__item span.header__active-menu-item {
  color: #005BC4;
  text-decoration: none;
}

.header__inline-menu .list-menu--inline .list-menu__item:hover span {
  text-decoration: none;
}

.header__inline-menu .list-menu--inline .list-menu__item:hover span:before {
  width: 100%;
}

.header__inline-menu .list-menu--inline .list-menu__item.sale-link span {
  color: #FF2500;
}

.header-search {
  display: none;
}

@media (min-width: 1200px) {
  .header-search {
    display: block;
  }
}

form.search {
  margin-top: 3px;
}

form.search .field__button {
  height: 3.4rem;
}

form.search .search__button .icon {
  height: 1.5rem;
  width: 1.5rem;
}

form.search .field__label {
  color: #A3A3A3;
  font-family: "roboto-medium", sans-serif;
  font-size: 13px;
  left: 20px;
  top: 9px;
}

form.search .field__input:focus ~ .field__label {
  opacity: 0;
}

.search__input.field__input {
  background: #fff;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  box-shadow: none;
  font-family: "roboto-medium", sans-serif;
  font-size: 13px;
  height: 35px;
  padding: 0 15px;
  width: 193px;
}

.search__input.field__input::-moz-placeholder {
  color: #A3A3A3;
}

.search__input.field__input:-ms-input-placeholder {
  color: #A3A3A3;
}

.search__input.field__input::placeholder {
  color: #A3A3A3;
}

.account-links {
  border-right: 1px solid #D8D8D8;
  display: none;
  flex-direction: column;
  justify-content: center;
  margin-right: 23px;
  padding: 0 25px 0 35px;
  text-align: center;
}

@media (min-width: 1200px) {
  .account-links {
    display: flex;
  }
}

@media screen and (min-width: 1300px) {
  .account-links {
    padding: 0 40px 0 50px;
  }
}

.account-links .account-title {
  margin: 0;
  line-height: 1;
}

.account-links .sign-in-up {
  font-family: "roboto-regular", sans-serif;
  font-size: 12px;
  color: #4A4A4A;
  transition: color 0.3s ease-in-out;
}

.account-links .sign-in-up:hover {
  color: #141414;
}

.cart-count-bubble {
  background-color: #005BC4;
  width: 15px;
  height: 15px;
  top: 5px;
  left: 30px;
}


/*# sourceMappingURL=global.css.map*/