.btn{
    background: $black;
    border: 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-family: $roboto_bold;
    font-size: 12px;
    letter-spacing: 2px;
    min-width: 125px;
    padding: 13px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    @include lg{
        border: 1px solid $black;
        font-size: 14px;
        min-width: 150px;
        padding: 12px 20px;
        &:hover{
            background: #fff;
            color: $black;

        }
    }
}