//primary colors
$black:      #141414;
$dark_gray:  #4A4A4A;
$gray:       #776F65;
$mid_gray:   #B2B2B2;
$light_gray: #DED7D1;

$red:        #FF2500;
$blue:       #005BC4;

.text-black{
    color: $black;
}
.text-dark-gray{
    color: $dark_gray;
}